@import url('https://fonts.googleapis.com/css2?family=Rampart+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron&family=Rampart+One&display=swap');
body {
    text-align: center;
    background-color: black;
    display: flex;
    justify-content: center;
}

h1 {
    color: white;
    font-family: 'Rampart One', cursive;
    margin: 0;
}

.coluna1 {
    width: 49%;
    text-align: center;
    justify-content: center;
}

.coluna2 {
    display: flex;
    width: 49%;
    align-content: center;
    justify-content: center;
    flex-direction: column;
}

.quadrado {
    text-align: center;
    width: 50px;
    background: #eee;
    display: inline-block;
    font-family: 'Rampart One', cursive;
    padding: 40px;
    font-size: 60px;
    margin: 5px;
    cursor: pointer;
    color: #eee;
}

.jogador,
.vencedor {
    margin-top: 20px;
    font-size: 50px;
    color: white;
    font-family: 'Orbitron', sans-serif;
}

button {
    margin-top: 20px;
    width: 150px;
    height: 80px;
    background: #eee;
    cursor: pointer;
    border-radius: 50%;
    font-family: 'Orbitron', sans-serif;
    font-size: 25px;
}